<section *ngIf="table" #Table (load)="exists(1)">
  <div *ngFor="let column of table.columns" class="column">
    <div class="column-title">{{ column.title }}</div>
    <div class="column body">
      <div
        *ngFor="let row of table.data"
        class="cell-container"
        [ngClass]="column.classList"
      >
        <div class="cell-content">
          {{ format(column.formats, row[column.key]) }}
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!table">OHNO</section>
