section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--bg-1);
  overflow: hidden;
  border-radius: 10px;
  margin: 0.5rem;

  .column {
    display: flex;
    flex-direction: column;
  }

  .body {
    margin: 0.5rem;
  }

  .column-title {
    background-color: var(--bg-3);
    padding: 0.5rem;
    font-weight: 400;
    text-align: center;
  }

  .cell-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    // width: 6rem;
  }

  .cell-content {
    background-color: red;
  }
}

.table-justify-center {
  justify-content: center;
}

.table-justify-right {
  justify-content: flex-end;
}

.table-justify-left {
  justify-content: flex-start;
}

.table-align-center div {
  align-items: center;
}

.table-align-left div {
  align-items: flex-start;
}

.table-align-right div {
  align-items: flex-end;
}

// .green {
//   color: rgb(5, 255, 5);
// }

// .cell-content {
//   // display:
//   // background-color: red;
//   // width: max-content;
// }
