nav {
  box-sizing: border-box;
  max-width: 40rem;
  min-width: 12rem;
  background-color: var(--bg-1);
  border-radius: 0 var(--rl) var(--rl) 0;
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto 40px;

  color: white;
  overflow: hidden;
  // padding: 0.25rem;
}

.side-nav-container {
  height: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  background-color: var(--bg);
}

.side-nav-content {
  padding: 6px;
}

.side-nav-footer {
  background-color: var(--bg-3);
  overflow: hidden;
}
