nav {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 40rem;
  min-width: 12rem;
  background-color: var(--bg-1);
  border-radius: 0 var(--rl) var(--rl) 0;
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;

  color: white;
  padding: 0.25rem;
}

.side-nav-container {
  height: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  background-color: var(--bg);
}
