<side-nav>
  <!-- <h2 side-nav-header class="center-text">Hello</h2> -->
  <h3>components</h3>

  <j-button [active]="activeTab === 0" routerLink="colorpicker">
    <icon btn-icon src="droplet"></icon>
    color picker
  </j-button>
  <j-button [active]="activeTab === 1" routerLink="modal">
    <icon btn-icon src="x"></icon>
    modal
  </j-button>
  <j-button [active]="activeTab === 2" routerLink="carousel">
    <icon btn-icon src="columns"></icon>
    carousel
  </j-button>
  <j-button [active]="activeTab === 3" routerLink="table">
    <icon btn-icon src="table"></icon>
    table
  </j-button>

  <h4 side-nav-footer class="center h-100">Footer</h4>

  <section content>
    <h1>
      Example of: <span>{{ curUrl | titlecase }}</span>
    </h1>
    <router-outlet></router-outlet>
  </section>
</side-nav>
