<side-nav>
  <!-- <h2 side-nav-header class="center-text">Hello</h2> -->
  <h3>components</h3>

  <!-- [active]="activeTab === 0" -->
  <!-- <icon btn-icon src="droplet"></icon> -->
  <button
    button
    routerLink="colorpicker"
    icon="droplet"
    [active]="activeTab === 0"
  >
    color picker
  </button>
  <button button routerLink="modal" [active]="activeTab === 1" icon="x">
    modal
  </button>
  <button
    button
    routerLink="carousel"
    [active]="activeTab === 2"
    icon="columns"
  >
    carousel
  </button>
  <button button routerLink="table" [active]="activeTab === 3" icon="table">
    table
  </button>

  <h4 side-nav-footer class="center h-100">Footer</h4>

  <section content>
    <h1>
      Example of: <span>{{ curUrl | titlecase }}</span>
    </h1>
    <router-outlet></router-outlet>
  </section>
</side-nav>
