<div class="color-picker-container">
  <section class="column center" (click)="show()" #section>
    <div class="grid w-100">
      <button class="preview center" #preview (click)="updateFormat(true)">
        {{ rgbString }}
      </button>
      <div class="column controls" #controls>
        <img
          #Close
          src="../../assets/Icons/x.svg"
          class="close"
          (click)="close()"
        />
        <img
          #Copy
          src="../../assets/Icons/copy.svg"
          class="copy"
          (click)="copy()"
        />
      </div>
    </div>
    <div class="content" #content>
      <div class="row center-vertical input">
        <input
          type="range"
          class="red"
          min="0"
          max="255"
          #red
          [value]="rgb[0]"
          (input)="setVal(0, $event.target)"
        />
      </div>
      <div class="row center-vertical input">
        <input
          type="range"
          class="green"
          min="0"
          max="255"
          #green
          [value]="rgb[1]"
          (input)="setVal(1, $event.target)"
        />
      </div>
      <div class="row center-vertical input">
        <input
          type="range"
          class="blue"
          min="0"
          max="255"
          #blue
          [value]="rgb[2]"
          (input)="setVal(2, $event.target)"
        />
      </div>
    </div>
  </section>
</div>
