<button button (click)="openModal()">OPEN MODAL</button>
<modal #modal>
  <h1 class="text-center">Hello</h1>
  <p>This is a modal</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis
    maiores ullam labore odio perspiciatis ratione fugiat aspernatur dolorum
    placeat id, doloribus dolorem quo consequatur vitae nemo magni non qui,
    totam eos sed quibusdam adipisci amet. Culpa, possimus. Iusto, voluptas!
    Voluptates nemo, architecto expedita earum eum adipisci numquam reiciendis
    excepturi pariatur labore ratione sed aut tempora at totam neque. Tempore
    assumenda at mollitia officia minus neque, sint error eos magnam ullam quae.
    Rem temporibus minus eum animi officia quae molestiae fuga pariatur,
    suscipit nulla deleniti sunt beatae itaque alias aperiam nobis tempore. Est
    ratione quis esse asperiores, eaque et. Suscipit accusantium assumenda
    mollitia neque praesentium sit quae non quis, saepe quos? Nobis distinctio
    laborum itaque suscipit tempora molestias earum dolorem similique excepturi,
    quod dolores dolorum. Libero aliquam illum dicta cum labore, nulla voluptas
    vitae consectetur esse tenetur itaque tempora cupiditate. Saepe optio
    adipisci temporibus quisquam accusantium similique numquam sunt
  </p>
</modal>
